Devoir/Mapping avec Jax Binding/MappingJaxBinding/src/test/java/org/example/ClientWS/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Web_Service.example.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Web_Service.example.org/" name="ReleveService">
<types>
<xsd:schema>
<xsd:import namespace="http://Web_Service.example.org/" schemaLocation="http://localhost:9191/?xsd=1"/>
</xsd:schema>
</types>
<message name="toString">
<part name="parameters" element="tns:toString"/>
</message>
<message name="toStringResponse">
<part name="parameters" element="tns:toStringResponse"/>
</message>
<message name="ajout">
<part name="parameters" element="tns:ajout"/>
</message>
<message name="ajoutResponse">
<part name="parameters" element="tns:ajoutResponse"/>
</message>
<message name="ListOperation">
<part name="parameters" element="tns:ListOperation"/>
</message>
<message name="ListOperationResponse">
<part name="parameters" element="tns:ListOperationResponse"/>
</message>
<portType name="Releve">
<operation name="toString">
<input wsam:Action="http://Web_Service.example.org/Releve/toStringRequest" message="tns:toString"/>
<output wsam:Action="http://Web_Service.example.org/Releve/toStringResponse" message="tns:toStringResponse"/>
</operation>
<operation name="ajout">
<input wsam:Action="http://Web_Service.example.org/Releve/ajoutRequest" message="tns:ajout"/>
<output wsam:Action="http://Web_Service.example.org/Releve/ajoutResponse" message="tns:ajoutResponse"/>
</operation>
<operation name="ListOperation">
<input wsam:Action="http://Web_Service.example.org/Releve/ListOperationRequest" message="tns:ListOperation"/>
<output wsam:Action="http://Web_Service.example.org/Releve/ListOperationResponse" message="tns:ListOperationResponse"/>
</operation>
</portType>
<binding name="RelevePortBinding" type="tns:Releve">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="toString">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ajout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListOperation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ReleveService">
<port name="RelevePort" binding="tns:RelevePortBinding">
<soap:address location="http://localhost:9191/"/>
</port>
</service>
</definitions>